extends layout

block content
    .row
        .col.s12
            .card
                .card-image
                    img(height="200px", src="/images/sample-1.jpg")
                    span.card-title Record
                .card-content
                    p Record audio to register your voice with the service, this step is called "enrollment". After your enrollment is completed, you can start the verification step using a different voice recording to test the service.
                .center
                    #preload.progress.hide
                        .indeterminate
                    img#record.center(src="images/mic128.png" onclick="toggleRecording(this);")
            a.waves-effect.waves-light.btn-large.right(href="/identification") Go to Identification Page
    #vizh.hide
        canvas#analyser(width="1024", height="500")
        canvas#wavedisplay(width="1024", height="500")
    #controls.hide
        img#record(src="images/mic128.png" onclick="toggleRecording(this);")
        a#save(href="#")
        img(src="images/save.svg")


